# Compiled binary
kube-gateway
*.exe

# IDE-specific files
.idea/
.idea/*
.vscode/

# Certificates
certs/

# OS-specific files
.DS_Store
Thumbs.db


# PID file
kube-gateway.pid
*.pid

# Log files
*.log